
@{
    ViewBag.Title = "Sửa sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/AdminLTELayout.cshtml";
}

@using He_thong_ho_tro_y_te.Models.DB;
@{
    var product = (Product)ViewBag.pro;
}

<form action="Edit" method="post" role="form" enctype="multipart/form-data">
    <input type="hidden" id="id" name="id" value="@product.Id" />
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Chỉnh sửa </h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Tên</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Tên sản phẩm" value="@product.Name">
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label for="exampleInputEmail1">Giá</label>
                        
                        <input type="text" class="form-control" name="price" id="price" placeholder="Giá sản phẩm" value="@Convert.ToInt32(product.Price)">
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Số lượng</label>
                        <input type="number" class="form-control" name="amount" id="amount" placeholder="Số lượng" value="@product.Amount">
                    </div>
                    <div class="form-group">
                        <label>Loại sản phẩm</label>
                        <select class="form-control" name="idcategory">
                            @foreach (var item in ViewBag.cat)
                            {

                                var select = "";
                                if (item.CategoryID == product.CategoryID)
                                {
                                    select = "selected";
                                }
                                <option @select value="@item.CategoryID">@item.CategoryName</option>

                            }
                        </select>
                    </div>
                    <!-- /.form-group -->

                </div>
                <!-- /.col -->


            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <label for="exampleInputFile">Chọn ảnh</label>
                        <input type="file" id="image" name="image">
                        <p class="help-block"><img height="100px" src="~/Asset/Photo/@product.Image" /></p>

                    </div>

                    <div class="form-group">
                        <label>Mô tả</label>
                        <textarea name="description" id="description" class="form-control" rows="3">@product.Describe</textarea>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.box-body -->

    </div>
    <div class="box-footer">
        <input type="submit" class="btn btn-primary" value="Sửa" />
    </div>
</form>

