
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLTELayout.cshtml";
}
@model PagedList.IPagedList<He_thong_ho_tro_y_te.Models.DB.Product>
@using PagedList.Mvc



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="box-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Quản lý sản phẩm</h3>
                </div>
            </div>
            <!-- /search form -->
            

            
            <!-- /.box-header -->
            <div class="box-body">
                <div class="panel-body">
                    @using (Html.BeginForm("Index", "Product", FormMethod.Get))
                    {
                        <div class="row form-group">
                            <div class="col-lg-12">
                                <label class="col-lg-1 row">Từ khóa</label>
                                <div class="col-md-3">
                                    <input type="text" value="@ViewBag.SearchString" class="form-control" name="searchString" />
                                 </div>
                                    <label class="col-lg-1">Giá khoảng</label>
                                    <div class="col-md-2">
                                        <input type="text" value="@ViewBag.SearchString2" class="form-control" name="searchString2" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" value="@ViewBag.SearchString3" class="form-control" name="searchString3" />
                                    </div>
                                
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-success">Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                    }
                    <a href="~/Admin/Product/Add">Thêm mới  </a>
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Ảnh</th>
                                <th>Chức năng</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.Count; i++)
                            {
                                var item = Model.ElementAt(i);
                            <tr>
                                <td>@(i + 1)</td>
                                <td>
                                    @item.Name
                                </td>
                                <td>@item.Price</td>
                                <td>@item.Amount</td>
                                <td><img height="50px" src="~/Asset/Photo/@item.Image" /></td>
                                <td>
                                    <a href="~/Admin/Product/Edit/@item.Id">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                    <a href="~/Admin/Product/Detail/@item.Id">
                                        <span class="glyphicon glyphicon-list"></span>
                                    </a>

                                    <a href="~/Admin/Product/Delete/@item.Id" onclick="return confirm('Bạn chắc chắn muốn xóa?')">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                                
                            </tr>
                            }

                        </tbody>

                    </table>

                    <div class="col-sm-7">
                        @Html.PagedListPager(Model, PageNum => Url.Action("Index", new { PageNum, @searchString = @ViewBag.SearchString }))
                      
                    </div>

                </div>
            </div>
            <!-- /.box-body -->

        </div>
            <!-- /.box -->
            <!-- /.box -->
        </div>
        <!-- /.col -->

    </div>
    <!-- /.row -->




