@model He_thong_ho_tro_y_te.Models.DB.News
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/AdminLTELayout.cshtml";
}


<h2>Chi tiết tin tức</h2>

<div>
    <h4>Tin tức</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.Raw(Model.Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>


        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <div class="grid images_3_of_2">
            <a href="#"><img height="50px" src="~/Asset/Photo/@Model.Image" /></a>
        </div>








    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>



