
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/AdminLTELayout.cshtml";
}


@using He_thong_ho_tro_y_te.Models.DB;
@{
    var user = (User)ViewBag.user;
}

<form action="Edit" method="post" role="form" enctype="multipart/form-data">
    <input type="hidden" id="id" name="id" value="@user.ID" />
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Chỉnh sửa người dùng </h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">

                    <!-- /.form-group -->
                    <div class="form-group">
                        <label for="name">Tên người dùng</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Tên sản phẩm" value="@user.Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên đăng nhập</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="admin" value="@user.UserName">
                    </div>
                    
                </div>
                <!-- /.col -->
                <div class="col-md-6">
                     <div class="form-group">
                        <label>Loại người dùng</label>
                        <select class="form-control" name="groupid">
                            @foreach (var item in ViewBag.group)
                            {

                                var select = "";
                                if (item.Id == user.GroupID)
                                {
                                    select = "selected";
                                }
                                <option @select value="@item.Id">@item.Name</option>

                            }
                        </select>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label for="exampleInputEmail1">Mật khẩu</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="123456" value="@user.Password">
                    </div>
                </div>
                <!-- /.col -->


            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <label for="exampleInputFile">Chọn ảnh</label>
                        <input type="file" id="image" name="image">
                        <p class="help-block"><img height="100px" src="~/Asset/Photo/@user.ModifiedBy" /></p>

                    </div>

                    <div class="form-group">
                        <label>Mô tả</label>
                        <textarea name="describe" id="describe" class="form-control" rows="3">@user.</textarea>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.box-body -->

    </div>
    <div class="box-footer">
        <input type="submit" class="btn btn-primary" value="Thêm" />
    </div>
</form>



